{% extends 'snippets/_base.html' %}
{% load static %}
{% block main %}

<div id="mobileapp-banner">
    <div class="container-fluid">
        <div class="row px-lg-5">
            <div class="col-lg-12 text-white text-center">
                <h1>Mobile app development company in Chennai</h1>
                <p>Being the leading mobile app development company in Chennai</p>
                <div class="mt-4">
                    <button class="btn btn-outline-orange">Our Works</button>
                    <button class="btn btn-outline-orange ms-3" data-bs-toggle="modal"
                        data-bs-target="#proposalModal">Reach Us</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="servicesection1">
    <div class="container-fluid">
        <div class="row p-lg-5 px-3 my-4">
            <div class="col-12 ">
                <div class="mb-4 text-center">
                    <h2 class="fw-bold">Our Dedication Makes Us the Best</h2>
                    <p>Mobile applications are an essential part of our lives.</p>
                </div>
                <p class="">Mobile applications are an essential part of our lives. Due to advanced development in
                    the
                    technologies, everything has become digital now. The mobile apps enable end-users to complete a
                    task
                    fast and efficiently. As one of the leading mobile application development companies in Chennai,
                    we
                    at Pyramidion Solutions focus on delivering custom-made mobile application with great designs,
                    highly sophisticated and fast performing attributes.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go all-out
                    to
                    construct a functional and rewarding mobile app that helps your business to generate good ROI.
                    We
                    have a customer-centric approach, and our ultimate goal is to make the end-product user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development companies
                    in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid mobile
                    applications.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go all-out
                    to
                    construct a functional and rewarding mobile app that helps your business to generate good ROI.
                    We
                    have a customer-centric approach, and our ultimate goal is to make the end-product user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development companies
                    in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid mobile
                    applications.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="mobileapp-section3">
    <div class="container-fluid">
        <div class="row p-lg-5 px-3 my-4">
            <div class="col-12">
                <h6 class="fw-bold text-center text-secondary">End to End Technologies</h6>
                <h2 class="fw-bold text-center mb-lg-5">We hold Technology Expertise in</h2>
                <div class="tecnoslider owl-carousel">
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/fluency/96/000000/python.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/angularjs.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/vue-js.png" /></div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/fluency/96/000000/node-js.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/nodejs.png" /></div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/react-native.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/fluency/96/000000/python.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/angularjs.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/vue-js.png" /></div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/fluency/96/000000/node-js.png" />
                    </div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/nodejs.png" /></div>
                    <div class="card border-0"><img class="mb-4 mb-lg-0" src="https://img.icons8.com/color/96/000000/react-native.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="servicesection2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center px-lg-5">
                        <img class="mb-4 mb-lg-0" class="mb-3"
                            src="https://image.freepik.com/free-vector/business-people-working-laptop-development_1262-18907.jpg"
                            width="90%" alt="">
                        <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                            consequatur harum vel.
                            Debitis nisi necessitatibus, hic molestiae nobis voluptatem tenetur perferendis odit ut
                            dolor, quia quo reiciendis, minima eveniet incidunt.</p>
                    </div>
                    <div class="col-12 text-center px-lg-5">
                        <img class="mb-4 mb-lg-0" class="mb-3"
                            src="https://image.freepik.com/free-vector/business-people-working-laptop-development_1262-18907.jpg"
                            width="90%" alt="">
                        <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                            consequatur harum vel.
                            Debitis nisi necessitatibus, hic molestiae nobis voluptatem tenetur perferendis odit ut
                            dolor, quia quo reiciendis, minima eveniet incidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12 text-center px-lg-5">
                        <img class="mb-4 mb-lg-0" class="mb-3"
                            src="https://image.freepik.com/free-vector/site-stats-concept-illustration_114360-1444.jpg"
                            width="90%" alt="">
                        <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                            consequatur harum vel.
                            Debitis nisi necessitatibus, hic molestiae nobis voluptatem tenetur perferendis odit ut
                            dolor, quia quo reiciendis, minima eveniet incidunt.</p>
                    </div>
                    <div class="col-12 text-center px-lg-5">
                        <img class="mb-4 mb-lg-0" class="mb-3"
                            src="https://i.pinimg.com/originals/19/97/f3/1997f3da28e8d29289097871f45b04fd.gif"
                            width="90%" alt="">
                        <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                            consequatur harum vel.
                            Debitis nisi necessitatibus, hic molestiae nobis voluptatem tenetur perferendis odit ut
                            dolor, quia quo reiciendis, minima eveniet incidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="faq-section">
    <section class="faq-section">
        <div class="container-fluid">
            <div class="row p-lg-5 px-3 my-4">
                <h2 class="fw-bold text-center mb-3">FAQ</h2>
                <div class="col-md-6 px-0">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-1"
                                        role="button" aria-expanded="true" aria-controls="faqCollapse-1">
                                        <span class="badge">1</span>What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                        an
                                        unknown printer took a galley of type and scrambled it to make a type
                                        specimen
                                        book. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-2"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-2">
                                        <span class="badge">2</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                        roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000
                                        years
                                        old.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-3"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-3">
                                        <span class="badge">3</span>Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum
                                        is
                                        that it has a more-or-less normal distribution of letters, as opposed to
                                        using
                                        'Content here, content here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-4"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-4">
                                        <span class="badge">4</span> Where can I get some?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority
                                        have suffered alteration in some form, by injected humour, or randomised
                                        words
                                        which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-5"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-5">
                                        <span class="badge">5</span> What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p> It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-6">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-6"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-6">
                                        <span class="badge">6</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                        for
                                        those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                                        Malorum" by Cicero are also reproduced in their exact original form,
                                        accompanied
                                        by English versions from the 1914 translation by H. Rackham.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-7">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-7"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-7">
                                        <span class="badge">7</span> Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                        their default model text, and a search for 'lorem ipsum' will uncover many
                                        web
                                        sites still in their infancy. Various versions have evolved over the years,
                                        sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-8"
                                        role="button" aria-expanded="true" aria-controls="faqCollapse-8">
                                        <span class="badge">1</span>What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                        an
                                        unknown printer took a galley of type and scrambled it to make a type
                                        specimen
                                        book. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-9"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-9">
                                        <span class="badge">2</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                        roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000
                                        years
                                        old.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-10"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-10">
                                        <span class="badge">3</span>Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-10" class="collapse" aria-labelledby="faqHeading-3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum
                                        is
                                        that it has a more-or-less normal distribution of letters, as opposed to
                                        using
                                        'Content here, content here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-11"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-11">
                                        <span class="badge">4</span> Where can I get some?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-11" class="collapse" aria-labelledby="faqHeading-4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority
                                        have suffered alteration in some form, by injected humour, or randomised
                                        words
                                        which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-12"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-12">
                                        <span class="badge">5</span> What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-12" class="collapse" aria-labelledby="faqHeading-5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p> It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-6">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-13"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-13">
                                        <span class="badge">6</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-13" class="collapse" aria-labelledby="faqHeading-6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                        for
                                        those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                                        Malorum" by Cicero are also reproduced in their exact original form,
                                        accompanied
                                        by English versions from the 1914 translation by H. Rackham.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-7">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-14"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-14">
                                        <span class="badge">7</span> Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-14" class="collapse" aria-labelledby="faqHeading-7"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                        their default model text, and a search for 'lorem ipsum' will uncover many
                                        web
                                        sites still in their infancy. Various versions have evolved over the years,
                                        sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock main %}