@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.text-orange {
  color: #fc6522;
}

.bg-orange {
  background-color: #fc6522;
}

.text-blue {
  color: #1b4865;
}

.bg-blue {
  background-color: #1b4865;
}

a {
  text-decoration: none;
}

.fa-12 {
  font-size: 12px !important;
}

.fa-14 {
  font-size: 14px !important;
}

.fa-20 {
  font-size: 20px !important;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.five-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-orange {
  background-color: #fc6522;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 8px;
}
.btn-orange:hover {
  color: #fc6522;
  background-color: white;
}
.btn-orange:focus {
  border: white !important;
  box-shadow: none !important;
}

.btn-outline-orange {
  background-color: transparent;
  color: #fc6522;
  font-weight: bold;
  font-size: 14px;
  transition: 0.4s;
  border: 2px solid #fc6522;
  border-radius: 8px;
}

.btn-outline-orange:hover {
  color: white;
  background-color: #fc6522;
}

.btn-outline-orange:focus {
  box-shadow: none !important;
}

.hrline {
  width: 76px;
  margin: auto;
  margin-bottom: 25px;
  height: 5px !important;
  border-radius: 20px;
  color: #fc6522;
  margin-top: 12px;
  opacity: unset;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  border-radius: 1.5rem;
  outline: 0;
}

.form-floating > label {
  font-size: 14px;
}

#navbar .nav-item {
  padding-right: 1.3rem;
}
#navbar .nav-item .nav-link {
  font-weight: 600;
  font-size: 14px;
}
#navbar .active {
  border-bottom: 2px solid white;
}

#home-banner {
  background-image: url("../img/wp2752752-buildings-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
#home-banner .container-fluid {
  padding-top: 240px;
  padding-bottom: 240px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
#home-banner .container-fluid h1 {
  font-size: 3.5rem;
}

#mailsection {
  background-image: url("../img/mobile-app-development-banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
}
#mailsection .container-fluid {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#portfolio section .row:nth-child(1) {
  padding: 7rem 3rem !important;
}

#aboutus-banner {
  background-image: url("https://www.itic.org/contentAsset/image/bb16ba6f-2265-43e0-ab25-bbef96984ddb");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
#aboutus-banner .container-fluid {
  padding-top: 170px;
  padding-bottom: 170px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#career-section3 .accordion-body {
  max-height: 500px;
  overflow-x: auto;
}

#mobileapp-banner {
  background-image: url("https://www.itic.org/contentAsset/image/bb16ba6f-2265-43e0-ab25-bbef96984ddb");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}
#mobileapp-banner .container-fluid {
  padding-top: 140px;
  padding-bottom: 140px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#career-section3 .accordion-body {
  max-height: 500px;
  overflow-x: auto;
}
#career-section3 ::-webkit-scrollbar {
  width: 5px;
}
#career-section3 ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#career-section3 ::-webkit-scrollbar-thumb {
  background: #fc63225e;
}
#career-section3 .accordion-button {
  font-weight: bold;
}
#career-section3 .accordion-button:not(.collapsed) {
  color: #fc6522;
}
#career-section3 .accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.contact-offcanvas {
  height: 59%;
  margin-top: 10%;
}

.contact-offcanvas-btn {
  position: fixed;
  bottom: 65%;
  right: -35px;
  transform: rotate(-90deg);
}

#mobileapp-section2 .accordion-item {
  background-color: none;
  border: none;
}
#mobileapp-section2 .accordion-item:first-of-type .accordion-button {
  border: none;
}
#mobileapp-section2 .accordion-button {
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}
#mobileapp-section2 .accordion-button:not(.collapsed) {
  color: #fc6522;
  background-color: white;
}
#mobileapp-section2 .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
#mobileapp-section2 .col-lg-6:nth-child(1) {
  max-height: 450px;
  overflow: auto;
}
#mobileapp-section2 ::-webkit-scrollbar {
  width: 5px;
}
#mobileapp-section2 ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#mobileapp-section2 ::-webkit-scrollbar-thumb {
  background: #fc63225e;
}

#mobileapp-section4 li,
#mobileapp-section2 li {
  list-style: none;
  margin-bottom: 15px;
}
#mobileapp-section4 li:before,
#mobileapp-section2 li:before {
  content: "\f061";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: green;
}

#blogsection1 .col-lg-8 {
  max-height: 565px;
  overflow: auto;
}
#blogsection1 ::-webkit-scrollbar {
  width: 5px;
}
#blogsection1 ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#blogsection1 ::-webkit-scrollbar-thumb {
  background: #fc63225e;
}

#servicesection2 .col-lg-6:nth-child(1) .row {
  margin-top: 8rem;
}

#portfoliosection {
  background-image: url("https://cdn.dribbble.com/users/774375/screenshots/4717889/shot.gif");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
}
#portfoliosection .container-fluid {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #fc6522;
  bottom: -25px;
  margin-left: -30px;
}

.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #fc632248;
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b566e;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 15px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 12px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #fc6522;
  color: #fff;
  font-size: 11px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }

  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  img {
    width: 100% !important;
  }

  #home-banner .container-fluid {
    padding-top: 145px;
    padding-bottom: 145px;
  }
  #home-banner .container-fluid h1 {
    font-size: 3rem;
  }

  #portfolio section .row:nth-child(1) {
    padding: 6rem 1rem !important;
  }

  #portfoliosection .col-lg-6 {
    text-align: center !important;
  }

  #servicesection2 .col-lg-6:nth-child(1) .row {
    margin-top: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
