{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cannydigit</title>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
        integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- font awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script> -->
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <script src="{% static 'js/index.js' %}"></script> -->
</head>

<body>
    <!-- navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark px-lg-5 px-3 fixed-top"
        style="background-color: transparent !important;" id="navbar">
        <div class="container-fluid text-white">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" width="140" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link homenav">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link portfolionav" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link aboutnav" href="{% url 'aboutus' %}">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link productsnav dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'products' %}">Temple</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}">Stuant</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link careersnav" href="{% url 'careers' %}">careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link blognav" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <button class="btn btn-orange btn-sm" data-bs-toggle="modal" data-bs-target="#proposalModal">Get a
                        Proposal</button>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar End -->

    <div id="offcanvas-form">
        <button class="btn btn-secondary contact-offcanvas-btn fw-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Contact Us</button>

        <div class="offcanvas contact-offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-body">
                <form action="" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message| safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="row ">
                        <div class="col-lg-6 pe-lg-1">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" name="Name" placeholder="Name" required>
                                <label for="Name">Name</label>
                                <div class="invalid-feedback">
                                    Required Field
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ps-lg-1">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" name="Phone_No" placeholder="Phone No"
                                    required>
                                <label for="Phone No">Phone No</label>
                                <div class="invalid-feedback">
                                    Required Field
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" name="email" placeholder="name@example.com"
                            required>
                        <label for="email">E-mail</label>
                        <div class="invalid-feedback">
                            Required Field
                        </div>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="Subject" placeholder="Subject" required>
                        <label for="Subject">Subject</label>
                        <div class="invalid-feedback">
                            Required Field
                        </div>
                    </div>

                    <div class="form-floating mb-2">
                        <textarea class="form-control" placeholder="Message" name="Message"></textarea>
                        <label for="floatingTextarea2">Message</label>
                    </div>
                    <input type="file" class="form-control" name="proposal" placeholder="proposal">

                    <button class="btn btn-orange mt-3 w-100" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    {% block main %}
    {% endblock main %}

    <div id="contactus-section">
        <div class="container-fluid">
            <div class="row p-lg-5 px-3 mb-4">
                <div class="col-lg-6 text-center my-auto">
                    <img src="{% static 'img/receptionist-working-on-her-desk-with-laptop-2130739-1793968.png' %}"
                        width="400" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, assumenda nemo? Delectus
                        molestiae aut a amet. </p>
                </div>
                <div class="col-lg-6">
                    <div class="card shadow-lg border-0 p-4">
                        <h2 class="fw-bold">Contact Us</h2>
                        <form action="" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message| safe }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="row ">
                                <div class="col-lg-6 pe-lg-1">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" name="Name" placeholder="Name" required>
                                        <label for="Name">Name</label>
                                        <div class="invalid-feedback">
                                            Required Field
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 ps-lg-1">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" name="Phone_No" placeholder="Phone No"
                                            required>
                                        <label for="Phone No">Phone No</label>
                                        <div class="invalid-feedback">
                                            Required Field
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" name="email" placeholder="name@example.com"
                                    required>
                                <label for="email">E-mail</label>
                                <div class="invalid-feedback">
                                    Required Field
                                </div>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" name="Subject" placeholder="Subject" required>
                                <label for="Subject">Subject</label>
                                <div class="invalid-feedback">
                                    Required Field
                                </div>
                            </div>

                            <div class="form-floating mb-2">
                                <textarea class="form-control" placeholder="Message" name="Message"
                                    style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Message</label>
                            </div>
                            <input type="file" class="form-control" name="proposal" placeholder="proposal">

                            <button class="btn btn-orange mt-3 float-end" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <hr>
        <div class="container-fluid">
            <div class="row p-lg-5 p-3 bg-secondary-light text-primary-dark">
                <div class="col-lg-3">
                    <a class="navbar-brand mb-3" href="{% url 'home' %}">
                        <img class="mb-4" src="{% static 'img/logo.png' %}" width="140" alt="">
                    </a>
                    <p class="fa-14"><span><i class="fa fa-phone me-2"></i> : </span>
                        <a class="text-reset" href="tel:+91-9876863432">+91-9876863432</a>
                    </p>
                    <p class="fa-14"><span><i class="fa fa-envelope me-2"></i> : </span>
                        <a class="text-reset" href="mailto:mdhanasekar1999@gmail.com">cannydigit@gmail.com</a>
                    </p>
                    <h6 class="fw-bold mt-4 mb-3">CannyDigit</h6>
                    <p class="fa-14">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quaerat minus delectus, nulla
                        exercitationem inventore</p>
                </div>
                <div class="col-lg-3">
                    <h6 class="fw-bold mb-3">Services</h6>
                    <div class="fa-14">
                        <p><a class="text-reset" href="#">Mobile App Devolopment</a></p>
                        <p><a class="text-reset" href="#">Web App Devolopment</a></p>
                        <p><a class="text-reset" href="#">UI /UX Devolopment</a></p>
                        <p><a class="text-reset" href="#">API Devolopment</a></p>
                        <p><a class="text-reset" href="#">IOT Devolopment</a></p>
                        <p><a class="text-reset" href="#">Fullscale Product Devolopment</a></p>
                        <p><a class="text-reset" href="#">Smart X Team</a></p>
                        <p><a class="text-reset" href="#">Startup Accelerator</a></p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h6 class="fw-bold mb-3">Quick Links</h6>
                    <div class="fa-14">
                        <p><a class="text-reset" href="#">Home</a></p>
                        <p><a class="text-reset" href="#">Products</a></p>
                        <p><a class="text-reset" href="#">Portfolio</a></p>
                        <p><a class="text-reset" href="#">Blog</a></p>
                        <p><a class="text-reset" href="#">Careers</a></p>
                        <p><a class="text-reset" href="#">Terms And Condition</a></p>
                        <p><a class="text-reset" href="#">Privacy Policy</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h6 class="fw-bold mb-3">Subscribe</h6>
                    <div class="input-group mb-1">
                        <input type="email" class="form-control" placeholder="Enter Your E-mail"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-orange" type="button" id="button-addon2">Submit</button>
                    </div>
                    <p class="fa-12 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nihil at
                        repellat
                        officia</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.774674762255!2d80.24354081430454!3d12.986258718071381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d1cfe86268b%3A0xfb20d9fc052beef0!2sVingsfire%20HRIM%20pvt%20ltd%20-%20Highly%20Trusted%20Top%20Web%20and%20Mobile%20Application%20(Android%20%26%20iOS%20)%20Development%20Companies%20in%20Chennai%2C%20App%20Development%20Company%20in%20Chennai%2C%20Web%20Design%20Companies%20in%20Chennai%2C%20Digital%20Marketing%20Companies%20in%20Chennai.!5e0!3m2!1sen!2sin!4v1639714136308!5m2!1sen!2sin"
                        width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="whatsappicon fixed-bottom mb-5 ms-5">
                    <a target="_blank" href="https://wa.me/8939513207">
                        <span class="p-4 bg-success rounded-circle">
                            <i class="fa fa-whatsapp fa-lg text-white" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Proposal Modal -->
    <div class="modal fade" id="proposalModal" tabindex="-1" aria-labelledby="proposalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <h6 class="fw-bold text-center">Get a Free Proposal</h6>
                    <hr class="hrline">
                    <form action="" method="post" class="needs-validation" novalidate>
                        {% csrf_token %}

                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message| safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="row ">
                            <div class="col-lg-6 pe-lg-1">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="Name" placeholder="Name" required>
                                    <label for="Name">Name</label>
                                    <div class="invalid-feedback">
                                        Required Field
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ps-lg-1">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="Phone_No" placeholder="Phone No"
                                        required>
                                    <label for="Phone No">Phone No</label>
                                    <div class="invalid-feedback">
                                        Required Field
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" name="email" placeholder="name@example.com"
                                required>
                            <label for="email">E-mail</label>
                            <div class="invalid-feedback">
                                Required Field
                            </div>
                        </div>

                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="Subject" placeholder="Subject" required>
                            <label for="Subject">Subject</label>
                            <div class="invalid-feedback">
                                Required Field
                            </div>
                        </div>

                        <div class="form-floating mb-2">
                            <textarea class="form-control" placeholder="Message" name="Message"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Message</label>
                        </div>
                        <input type="file" class="form-control" name="proposal" placeholder="proposal">

                        <button class="btn btn-orange mt-3 float-end" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block script %}
    {% endblock script %}

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();

        $(document).ready(function () {
            feather.replace()

            window.addEventListener('scroll', function () {
                let scrollPosition = window.pageYOffset;
                if (scrollPosition >= 30) {
                    $('.navbar').removeClass('navbar-dark')
                    $('.navbar').addClass('navbar-light')
                    $('.navbar').addClass('shadow')
                    $('.navbar').attr('style', 'background-color: white !important;')
                    $('.navbar .active').css('border-bottom', '2px solid black')
                } else {
                    $('.navbar').removeClass('navbar-light')
                    $('.navbar').addClass('navbar-dark')
                    $('.navbar').attr('style', 'background-color: tranperant !important;')
                    $('.navbar').removeClass('shadow')
                    $('.navbar .active').css('border-bottom', '2px solid white')
                }
            });

            var bannerText = "We Build Apps for Mobile and Web"
            var i = 0;
            function typeWriter() {
                if (i < bannerText.length) {
                    document.getElementById("bannertext").innerHTML += bannerText.charAt(i);
                    i++;
                    setTimeout(typeWriter, 100);
                }
            }

            typeWriter()


            $('.navbar-toggler').click(function () {
                $('.navbar-toggler .container-fluid').css('background-color', 'white')
            })
        })

    </script>

</body>

</html>