{% extends 'snippets/_base.html' %}
{% load static %}

{% block main %}
<div id="portfolio">
    <section style="background: url(../static/img/92c84d99680183.5ef868389c2e4.png);background-size: cover;">
        <div class="container-fluid">
            <div class="row text-white" style="background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));">
                <div class="col-lg-5">
                    <img src="{% static 'img/pillowmint.png' %}" width="100%" alt="">
                </div>
                <div class="col-lg-2 my-auto text-center">
                    <div class="mb-5">
                        <i data-feather="users"></i>
                        <h4 class="mt-2">Great UI</h4>
                    </div>
                    <div class="mb-5">
                        <i data-feather="activity"></i>
                        <h4 class="mt-2">Speed</h4>
                    </div>
                    <div class="mb-5">
                        <i data-feather="shield"></i>
                        <h4 class="mt-2">Highly Secured</h4>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5 my-auto">
                    <h2 class="fw-bold mb-3">Accounting App</h2>
                    <span class="badge badge-secondary mb-2 mb-lg-0"><i class="me-2 fa fa-apple" aria-hidden="true"></i>
                        Ios</span>
                    <span class="badge badge-secondary mb-2 mb-lg-0"><i class="me-2 fa fa-android" aria-hidden="true"></i>
                        Android</span>
                    <span class="badge badge-secondary mb-2 mb-lg-0"><i class="me-2 fa fa-globe" aria-hidden="true"></i>
                        Web</span>
                    <p class="mt-3">Accounting is the process of recording financial transactions pertaining to a
                        business. ... The financial statements used in accounting are a concise summary of financial
                        transactions over an accounting period</p>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="fw-bold">Features</h6>
                            <ul>
                                <li>manage single or multiple groups</li>
                                <li>used to handle financial and inventory management, invoicing, sales and purchase
                                    management,
                                    reporting, and MIS.</li>
                                <li>supports multi-languages</li>
                                <li>manage single or multiple groups</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-light btn-sm float-end">Read More</button>
                </div>
            </div>
        </div>
    </section>
    <section style="background: url(../static/img/1_eq7_LuFJOjRASvEtulfGUA.png);background-size: cover;">
        <div class="container-fluid">
            <div class="row text-white" style="background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));">
                <div class="col-lg-5 ps-lg-5 my-auto order-last order-lg-first">
                    <h2 class="fw-bold mb-3">Accounting App</h2>
                    <span class="badge badge-secondary shadow"><i class="me-2 fa fa-apple" aria-hidden="true"></i>
                        Ios</span>
                    <span class="badge badge-secondary shadow"><i class="me-2 fa fa-android" aria-hidden="true"></i>
                        Android</span>
                    <span class="badge badge-secondary shadow"><i class="me-2 fa fa-globe" aria-hidden="true"></i>
                        Web</span>
                    <p class="mt-3">Accounting is the process of recording financial transactions pertaining to a
                        business. ... The financial statements used in accounting are a concise summary of financial
                        transactions over an
                        accounting period, summarizing a company's operations, financial position, and cash flows.</p>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h6 class="fw-bold">Features</h6>
                            <ul>
                                <li>manage single or multiple groups</li>
                                <li>used to handle financial and inventory management, invoicing, sales and purchase
                                    management,
                                    reporting, and MIS.</li>
                                <li>supports multi-languages</li>
                                <li>manage single or multiple groups</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-light float-end btn-sm">Read More</button>
                </div>
                <div class="col-lg-2 my-auto text-center">
                    <div class="mb-5">
                        <i data-feather="users"></i>
                        <h4 class="mt-2">Great UI</h4>
                    </div>
                    <div class="mb-5">
                        <i data-feather="activity"></i>
                        <h4 class="mt-2">Speed</h4>
                    </div>
                    <div class="mb-5">
                        <i data-feather="shield"></i>
                        <h4 class="mt-2">Highly Secured</h4>
                    </div>
                </div>
                <div class="col-lg-5 order-first order-lg-last">
                    <img src="{% static 'img/gulfwest.png' %}" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    .badge-secondary {
        padding: 10px 17px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 8px;
        margin-right: 10px;
        background-color: whitesmoke !important;
        color: darkgrey;
    }
</style>
<script>
    $('.portfolionav').addClass('active')
    $('.portfolionav').attr('aria-current', 'page')
</script>
{% endblock main %}