{% extends 'snippets/_base.html' %}
{% load static %}
{% block main %}

<div id="mobileapp-banner">
    <div class="container-fluid">
        <div class="row px-lg-5">
            <div class="col-lg-6 order-last text-white">
                <h1>Mobile app development company in Chennai</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum repellat eos iure sit necessitatibus,
                    quisquam accusantium. Officiis incidunt maxime quae laboriosam, dicta tenetur soluta ipsum laborum
                    laudantium ab facilis libero.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum repellat eos iure sit necessitatibus,
                    quisquam accusantium. Officiis incidunt maxime quae laboriosam, dicta tenetur soluta ipsum laborum
                    laudantium ab facilis libero.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum repellat eos iure sit necessitatibus,
                    quisquam accusantium. Officiis incidunt maxime quae laboriosam, dicta tenetur soluta ipsum laborum
                    laudantium ab facilis libero.</p>
                <div class="mt-4 text-end">
                    <button class="btn btn-outline-orange">Our Works</button>
                    <button class="btn btn-outline-orange ms-3" data-bs-toggle="modal"
                        data-bs-target="#proposalModal">Reach Us</button>
                </div>
            </div>
            <div class="col-lg-6 text-white text-center my-auto">
                <img class="mb-4 mb-lg-0" src="https://religenapp.com/assets/imagesupdate/lapto.png" width="100%" alt="">
            </div>
        </div>
    </div>
</div>

<div id="servicesection1">
    <div class="container-fluid">
        <div class="row p-lg-5 px-3 my-4">
            <div class="col-12 ">
                <div class="mb-4 text-center">
                    <h2 class="fw-bold">Our Dedication Makes Us the Best</h2>
                    <p>Mobile applications are an essential part of our lives.</p>
                </div>
                <p class="">Mobile applications are an essential part of our lives. Due to advanced development in
                    the
                    technologies, everything has become digital now. The mobile apps enable end-users to complete a
                    task
                    fast and efficiently. As one of the leading mobile application development companies in Chennai,
                    we
                    at Pyramidion Solutions focus on delivering custom-made mobile application with great designs,
                    highly sophisticated and fast performing attributes.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go all-out
                    to
                    construct a functional and rewarding mobile app that helps your business to generate good ROI.
                    We
                    have a customer-centric approach, and our ultimate goal is to make the end-product user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development companies
                    in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid mobile
                    applications.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go all-out
                    to
                    construct a functional and rewarding mobile app that helps your business to generate good ROI.
                    We
                    have a customer-centric approach, and our ultimate goal is to make the end-product user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development companies
                    in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid mobile
                    applications.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="portfoliosection">
    <div class="container-fluid mt-lg-4 py-5">
        <div class="row px-3 my-4 p-lg-5 ">
            <div class="col-lg-6 text-end text-white">
                <h2 class="fw-bold">GET READY TO START</h2>
                <h6>Get in touch and we can connect you with the right people.</h6>
            </div>
            <div class="col-lg-6 text-start text-white ps-lg-5">
                <a href="{% url 'portfolio' %}" class="btn btn-light fw-bold mt-3">Lets See</a>
            </div>
        </div>
    </div>
</div>

<div id="servicesection2">
    <div class="container-fluid">
        <div class="row px-3 my-4 p-lg-5">
            <div class="col-lg-5 my-auto">
                <<img class="mb-4 mb-lg-0" src="https://religenapp.com/assets/images/5.png"
                    width="100%" alt="">
            </div>
            <div class="col-lg-7">
                <h6 class="text-secondary fw-bold">Android</h6>
                <h2 class="fw-bold">Our Dedication Makes Us the Best</h2>
                <p class="">Mobile applications are an essential part of our lives. Due to advanced development
                    in the
                    technologies, everything has become digital now. The mobile apps enable end-users to
                    complete a task
                    fast and efficiently. As one of the leading mobile application development companies in
                    Chennai, we
                    at Pyramidion Solutions focus on delivering custom-made mobile application with great
                    designs,
                    highly sophisticated and fast performing attributes.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go
                    all-out to
                    construct a functional and rewarding mobile app that helps your business to generate good
                    ROI. We
                    have a customer-centric approach, and our ultimate goal is to make the end-product
                    user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development
                    companies in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid
                    mobile
                    applications.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="servicesection3">
    <div class="container-fluid">
        <div class="row px-3 my-4 p-lg-5">

            <div class="col-lg-7">
                <h6 class="text-secondary fw-bold">Android</h6>
                <h2 class="fw-bold">Our Dedication Makes Us the Best</h2>
                <p class="">Mobile applications are an essential part of our lives. Due to advanced development
                    in the
                    technologies, everything has become digital now. The mobile apps enable end-users to
                    complete a task
                    fast and efficiently. As one of the leading mobile application development companies in
                    Chennai, we
                    at Pyramidion Solutions focus on delivering custom-made mobile application with great
                    designs,
                    highly sophisticated and fast performing attributes.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go
                    all-out to
                    construct a functional and rewarding mobile app that helps your business to generate good
                    ROI. We
                    have a customer-centric approach, and our ultimate goal is to make the end-product
                    user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development
                    companies in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid
                    mobile
                    applications.
                </p>
            </div>
            <div class="col-lg-5 my-auto">
                <img class="mb-4 mb-lg-0" src="https://religenapp.com/assets/images/3.png"
                    width="100%" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock main %}