{% extends 'snippets/_base.html' %}
{% load static %}
{% block main %}
<div id="aboutus-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-auto text-white text-center my-auto">
                <h1 class="mb-4 fw-light">How we Bring Creativity to Life ?<br> Join CannnyDigit</h1>
            </div>
        </div>
    </div>
</div>

<div id="career-section1">
    <div class="container-fluid">
        <div class="row px-3 my-4 p-lg-5">
            <div class="col-lg-6 my-auto">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="mb-4 mb-lg-0" class="shadow rounded"
                            src="https://images.unsplash.com/photo-1570126618953-d437176e8c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29ycG9yYXRlJTIwb2ZmaWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                            width="100%" height="450" alt="">
                    </div>
                    <div class="col-lg-6 my-auto">
                        <img class="mb-4 mb-lg-0" class="shadow rounded"
                            src="https://images.unsplash.com/photo-1570126618953-d437176e8c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29ycG9yYXRlJTIwb2ZmaWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                            width="100%" height="450" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="text-secondary fw-bold">Careers</h6>
                <h2 class="fw-bold">Our Dedication Makes Us the Best</h2>
                <p class="">Mobile applications are an essential part of our lives. Due to advanced development in the
                    technologies, everything has become digital now. The mobile apps enable end-users to complete a task
                    fast and efficiently. As one of the leading mobile application development companies in Chennai, we
                    at Pyramidion Solutions focus on delivering custom-made mobile application with great designs,
                    highly sophisticated and fast performing attributes.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We understand
                    the trends and competition in the current mobile application development industry and go all-out to
                    construct a functional and rewarding mobile app that helps your business to generate good ROI. We
                    have a customer-centric approach, and our ultimate goal is to make the end-product user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development companies in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid mobile
                    applications.
                </p>
                <button class="btn btn-orange">Read More</button>
            </div>
        </div>
    </div>
</div>

<div id="career-section2">
    <div class="container-fluid">
        <div class="row p-lg-5 px-3 my-4">
            <div class="col-12">
                <h2 class="fw-bold text-center">The Values we stand for</h2>
                <h6 class="fw-bold text-center text-secondary">CannyDigit is fundamental to
                    our client success and essential in how we work together.</h6>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/mobile-app.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">The customer first approach</h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/web-development.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Act with ownership </h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/ui-ux.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Doing best in what we do</h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/enterprise-solution.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Value idea over hierarchy </h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/mobile-app.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Respect for individual</h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/web-development.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Room for experimentation</h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/ui-ux.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Being honest to oneself</h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img class="mb-4 mb-lg-0" src="{% static 'img/enterprise-solution.png' %}" width="100" alt="">
                        <a class="text-reset" href="#">
                            <h6 class="fw-bold mt-3">Startup Accelerator</h6>
                            <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Hic dolorem consequatur saepe
                                et officia provident maxime porro iure itaque excepturi odio alias esse eum optio, ipsa,
                                molestias, voluptatum quisquam temporibus.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="career-section3">
    <div class="container-fluid">
        <div class="row p-lg-5 px-3 my-4">
            <h2 class="fw-bold mb-3">Current Positions</h2>
            <div class="col-lg-7 mb-4 mb-lg-0">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Web Devoloper
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    cannydigit is an advanced analytics company in India and the USA. It is an IT and
                                    Business consulting firm that
                                    provides services to businesses to help them make data-driven business decisions.
                                    cannydigit is briskly delivering
                                    its legendary services to clients in over 20+ countries by our full-time technology
                                    and business experts.
                                </p>
                                <p>Company URL: http://www.cannydigit.com/</p>
                                <p class="mb-2 fw-bold">Mandatory:</p>
                                <ul>
                                    <li>Freshers who have undergone training in any one of the technologies like SQL or
                                        Dot Net/ JavaScript, React / Node JS </li>
                                    <li>Good understanding of current and emerging technologies. </li>
                                </ul>
                                <p class="mb-2 fw-bold">Good to Have :</p>
                                <ul>
                                    <li>Knowledge in any cloud platforms (Azure, GCP, AWS) </li>
                                    <li>Knowledge of any web development frameworks/libraries like React, Angular, and
                                        Rest APIs </li>
                                </ul>
                                <p class="mb-2 fw-bold">Responsibility:</p>
                                <ul>
                                    <li>Good team player. </li>
                                    <li>Open to learning new and different technologies</li>
                                    <li>Excellent Analytical and Problem-Solving Skills.</li>
                                    <li>The ideal candidate should have good communication (written and oral) </li>
                                </ul>
                                <p class="mb-2 fw-bold">Job Features</p>

                                <p class="mb-0">Role</p>
                                <p>Associate Software Developer Trainee</p>

                                <p class="mb-0">Experience</p>
                                <p>0 to 6 Months</p>

                                <p class="mb-0">Qualification</p>
                                <p>B.E, M.Tech</p>

                                <p class="mb-0">Working Location</p>
                                <p>Chennai</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                PHP Devoloper
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    cannydigit is an advanced analytics company in India and the USA. It is an IT and
                                    Business consulting firm that
                                    provides services to businesses to help them make data-driven business decisions.
                                    cannydigit is briskly delivering
                                    its legendary services to clients in over 20+ countries by our full-time technology
                                    and business experts.
                                </p>
                                <p>Company URL: http://www.cannydigit.com/</p>
                                <p class="mb-2 fw-bold">Mandatory:</p>
                                <ul>
                                    <li>Freshers who have undergone training in any one of the technologies like SQL or
                                        Dot Net/ JavaScript, React / Node JS </li>
                                    <li>Good understanding of current and emerging technologies. </li>
                                </ul>
                                <p class="mb-2 fw-bold">Good to Have :</p>
                                <ul>
                                    <li>Knowledge in any cloud platforms (Azure, GCP, AWS) </li>
                                    <li>Knowledge of any web development frameworks/libraries like React, Angular, and
                                        Rest APIs </li>
                                </ul>
                                <p class="mb-2 fw-bold">Responsibility:</p>
                                <ul>
                                    <li>Good team player. </li>
                                    <li>Open to learning new and different technologies</li>
                                    <li>Excellent Analytical and Problem-Solving Skills.</li>
                                    <li>The ideal candidate should have good communication (written and oral) </li>
                                </ul>
                                <p class="mb-2 fw-bold">Job Features</p>

                                <p class="mb-0">Role</p>
                                <p>Associate Software Developer Trainee</p>

                                <p class="mb-0">Experience</p>
                                <p>0 to 6 Months</p>

                                <p class="mb-0">Qualification</p>
                                <p>B.E, M.Tech</p>

                                <p class="mb-0">Working Location</p>
                                <p>Chennai</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Angular Devoloper
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    cannydigit is an advanced analytics company in India and the USA. It is an IT and
                                    Business consulting firm that
                                    provides services to businesses to help them make data-driven business decisions.
                                    cannydigit is briskly delivering
                                    its legendary services to clients in over 20+ countries by our full-time technology
                                    and business experts.
                                </p>
                                <p>Company URL: http://www.cannydigit.com/</p>
                                <p class="mb-2 fw-bold">Mandatory:</p>
                                <ul>
                                    <li>Freshers who have undergone training in any one of the technologies like SQL or
                                        Dot Net/ JavaScript, React / Node JS </li>
                                    <li>Good understanding of current and emerging technologies. </li>
                                </ul>
                                <p class="mb-2 fw-bold">Good to Have :</p>
                                <ul>
                                    <li>Knowledge in any cloud platforms (Azure, GCP, AWS) </li>
                                    <li>Knowledge of any web development frameworks/libraries like React, Angular, and
                                        Rest APIs </li>
                                </ul>
                                <p class="mb-2 fw-bold">Responsibility:</p>
                                <ul>
                                    <li>Good team player. </li>
                                    <li>Open to learning new and different technologies</li>
                                    <li>Excellent Analytical and Problem-Solving Skills.</li>
                                    <li>The ideal candidate should have good communication (written and oral) </li>
                                </ul>
                                <p class="mb-2 fw-bold">Job Features</p>

                                <p class="mb-0">Role</p>
                                <p>Associate Software Developer Trainee</p>

                                <p class="mb-0">Experience</p>
                                <p>0 to 6 Months</p>

                                <p class="mb-0">Qualification</p>
                                <p>B.E, M.Tech</p>

                                <p class="mb-0">Working Location</p>
                                <p>Chennai</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <form action="" method="post" class="needs-validation" novalidate>
                    <div class="row ">
                        <div class="col-lg-6">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="Name" placeholder="Name" required>
                                <label for="Name">Name</label>
                                <div class="invalid-feedback">
                                    Required Field
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="Phone No" placeholder="Phone No" required>
                                <label for="Phone No">Phone No</label>
                                <div class="invalid-feedback">
                                    Required Field
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                        <label for="email">E-mail</label>
                        <div class="invalid-feedback">
                            Required Field
                        </div>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" required
                            aria-label="Floating label select example">
                            <option selected disabled value="">--------------</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect">Qualification</label>
                        <div class="invalid-feedback">
                            Required Field
                        </div>
                    </div>

                    <div class="form-floating mb-2">
                        <select class="form-select" id="floatingSelect" required
                            aria-label="Floating label select example">
                            <option selected disabled value="">--------------</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect">Role</label>
                        <div class="invalid-feedback">
                            Required Field
                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        <textarea class="form-control" placeholder="Your Brief Description" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Your Brief Description</label>
                    </div>
                    <div>
                        <label for="formFile" class="form-label fa-14">Upload Your Resume</label>
                        <input class="form-control" required type="file" id="formFile">
                        <div class="invalid-feedback">
                            Required Field
                        </div>
                    </div>
                    <button class="btn btn-orange mt-3 float-end" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#contactus-section').addClass('d-none')
        $('.contactbtn').addClass('d-none')
        $('.careersnav').addClass('active')
        $('.careersnav').attr('aria-current', 'page')
    })
</script>
{% endblock main %}