{% extends 'snippets/_base.html' %}
{% load static %}
{% block main %}

<div id="home-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-auto text-white text-center my-auto">
                <h1 class="mb-4 fw-light">Transforming the World with Great <br> Digital Solutions . . .</h1>
                <p class="mb-0 fa-20" id="bannertext"></p>
            </div>
        </div>
    </div>
</div>

<div id="home-section1">
    <div class="container-fluid">
        <div class="row px-3 my-4 p-lg-5">
            <div class="col-lg-6 my-auto">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15866.jpg"
                    width="100%" alt="">
            </div>
            <div class="col-lg-6">
                <h6 class="text-secondary fw-bold">About Us</h6>
                <h2 class="fw-bold">Our Dedication Makes Us the Best</h2>
                <p class="">Mobile applications are an essential part of our lives. Due to advanced development in
                    the
                    technologies, everything has become digital now. The mobile apps enable end-users to complete a
                    task
                    fast and efficiently. As one of the leading mobile application development companies in Chennai,
                    we
                    at Pyramidion Solutions focus on delivering custom-made mobile application with great designs,
                    highly sophisticated and fast performing attributes.
                </p>
                <p>
                    We are experts in developing and designing both native and hybrid mobile applications. We
                    understand
                    the trends and competition in the current mobile application development industry and go all-out
                    to
                    construct a functional and rewarding mobile app that helps your business to generate good ROI.
                    We
                    have a customer-centric approach, and our ultimate goal is to make the end-product user-friendly
                    that satisfies the customers as well, making us one of the best mobile app development companies
                    in
                    Chennai. We have expertise in developing android mobile apps, iOS mobile apps and Hybrid mobile
                    applications.
                </p>
                <p>
                    highly professional and well-reputed mobile application development in industry and popular
                    among
                    our clients for our timely delivery of the projects. Launch your mobile apps with us to enhance
                    your
                    branding and reputation.
                </p>
                <button class="btn btn-orange">Read More</button>
            </div>
        </div>
    </div>
</div>

<div id="home-section-2">
    <div class="container-fluid">
        <div class="row px-3 my-4 p-lg-5">
            <div class="col-12 text-center">
                <h2 class="fw-bold">WHAT WE DO?</h2>
                <h6 class="fw-bold text-secondary">What we do will amaze you for sure.</h6>

                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div class="img-top">
                                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/business-team-discussing-ideas-startup_74855-4380.jpg"
                                    width="390" alt="">
                            </div>
                            <div class="card-body py-0 text-center">
                                <a class="text-reset" href="{% url 'smartxteam' %}">
                                    <h6 class="fw-bold mt-3">Smart X team</h6>
                                    <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Fuga consectetur esse error dicta ipsam alias
                                        voluptates! Perferendis unde corrupti, alias magni ex omnis commodi aliquam,
                                        adipisci blanditiis similique, totam enim.
                                        consectetur adipisicing elit. Fuga consectetur esse error dicta ipsam alias
                                        voluptates! Perferendis unde corrupti, alias magni ex omnis commodi aliquam,
                                        adipisci blanditiis similique, totam enim.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div class="img-top">
                                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/low-code-development-concept-illustration_114360-7294.jpg"
                                    width="100%" alt="">
                            </div>
                            <div class="card-body py-0 text-center">
                                <a class="text-reset" href="{% url 'fullscale' %}">
                                    <h6 class="fw-bold mt-3">Full Scale Development</h6>
                                    <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Fuga consectetur esse error dicta ipsam alias
                                        voluptates! Perferendis unde corrupti, alias magni ex omnis commodi aliquam,
                                        adipisci blanditiis similique, totam enim.
                                        consectetur adipisicing elit. Fuga consectetur esse error dicta ipsam alias
                                        voluptates! Perferendis unde corrupti, alias magni ex omnis commodi aliquam,
                                        adipisci blanditiis similique, totam enim.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card border-0">
                            <div class="img-top">
                                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/development-concept-illustration_114360-4458.jpg"
                                    width="100%" alt="">
                            </div>
                            <div class="card-body py-0 text-center">
                                <a class="text-reset" href="{% url 'startup' %}">
                                    <h6 class="fw-bold mt-3">Startup Accelerator</h6>
                                    <p class="fa-14 text-secondary three-lines">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Fuga consectetur esse error dicta ipsam alias
                                        voluptates! Perferendis unde corrupti, alias magni ex omnis commodi aliquam,
                                        adipisci blanditiis similique, totam enim.
                                        consectetur adipisicing elit. Fuga consectetur esse error dicta ipsam alias
                                        voluptates! Perferendis unde corrupti, alias magni ex omnis commodi aliquam,
                                        adipisci blanditiis similique, totam enim.</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mailsection">
    <div class="container-fluid mt-lg-4">
        <div class="row px-3 my-4 p-lg-5">
            <div class="col-12 py-5 text-center text-white">
                <h2 class="fw-bold">GET READY TO START</h2>
                <h6>Get in touch and we can connect you with the right people.</h6>
                <a href="mailto:mdhanasekar1999@gmail.com" class="btn btn-light fw-bold mt-3">Lets Talk</a>
            </div>
        </div>
    </div>
</div>

<div id="home-section3">
    <div class="container-fluid p-lg-5 px-3 my-4">
        <!-- Owl Carousel -->
        <div class="row p-3 pb-lg-5">
            <div class="mb-4">
                <h2 class="fw-bold">Our Services</h2>
                <h6 class="fw-bold text-secondary">What we do will amaze you for sure.</h6>
            </div>
            <div class="slider owl-carousel">
                <div class="row">
                    <div class="col-lg-4">
                        <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/business-people-working-laptop-development_1262-18907.jpg"
                            width="100%" alt="">
                    </div>
                    <div class="col-lg-8 my-auto">
                        <h2 class="fw-bold">Mobile Application Devolopment</h2>
                        <a class="text-reset" href="">
                            <p class="five-lines">Lorem ipsum dolor sit amet, consectetur
                                adipisicing
                                elit. Minus,
                                accusamus laboriosam
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                <a href="#" class="ms-3 text-orange">View More</a>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/app-development-illustration_52683-47931.jpg"
                            width="100%" alt="">
                    </div>
                    <div class="col-lg-8 my-auto">
                        <h2 class="fw-bold">Web Application Devolopment</h2>
                        <a class="text-reset" href="">
                            <p class="five-lines">Lorem ipsum dolor sit amet, consectetur
                                adipisicing
                                elit. Minus,
                                accusamus laboriosam
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                <a href="#" class="ms-3 text-orange">View More</a>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/business-people-working-laptop-development_1262-18907.jpg"
                            width="100%" alt="">
                    </div>
                    <div class="col-lg-8 my-auto">
                        <h2 class="fw-bold">API Devolopment</h2>
                        <a class="text-reset" href="">
                            <p class="five-lines">Lorem ipsum dolor sit amet, consectetur
                                adipisicing
                                elit. Minus,
                                accusamus laboriosam
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                <a href="#" class="ms-3 text-orange">View More</a>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/business-people-working-laptop-development_1262-18907.jpg"
                            width="100%" alt="">
                    </div>
                    <div class="col-lg-8 my-auto">
                        <h2 class="fw-bold">IOT Devolopment</h2>
                        <a class="text-reset" href="">
                            <p class="five-lines">Lorem ipsum dolor sit amet, consectetur
                                adipisicing
                                elit. Minus,
                                accusamus laboriosam
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                <a href="#" class="ms-3 text-orange">View More</a>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/business-people-working-laptop-development_1262-18907.jpg"
                            width="100%" alt="">
                    </div>
                    <div class="col-lg-8 my-auto">
                        <h2 class="fw-bold">UI / UX Design</h2>
                        <a class="text-reset" href="">
                            <p class="five-lines">Lorem ipsum dolor sit amet, consectetur
                                adipisicing
                                elit. Minus,
                                accusamus laboriosam
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                nam placeat eos, repudiandae voluptate quas harum, dolorum tenetur maiores vero? Ea
                                <a href="#" class="ms-3 text-orange">View More</a>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- IOS App -->
        <div class="row p-3 pb-lg-5">
            <div class="col-lg-8 my-auto">
                <h2 class="fw-bold">IOS App Devolopment Company</h2>
                <p class="five-lines">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo debitis libero soluta
                    eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo
                    debitis
                    libero soluta eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. <a href="{% url 'iosapp' %}" class=" ms-3 text-orange">Read More</a>
                </p>

            </div>
            <div class="col-lg-4 order-first order-lg-last">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/app-development-concept-illustration_114360-5035.jpg"
                    width="100%" alt="">
            </div>
        </div>
        <!-- Android App -->
        <div class="row p-3 pb-lg-5">
            <div class="col-lg-4">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/catalogue-concept-illustration_114360-2032.jpg"
                    width="100%" alt="">
            </div>
            <div class="col-lg-8 my-auto">
                <h2 class="fw-bold">Android App Devolopment Company</h2>
                <p class="five-lines">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo debitis libero soluta
                    eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo
                    debitis
                    libero soluta eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. <a href="{% url 'iosapp' %}" class=" ms-3 text-orange">Read More</a>
                </p>
            </div>

        </div>
        <!-- Native App -->
        <div class="row p-3 pb-lg-5">
            <div class="col-lg-8 my-auto">
                <h2 class="fw-bold">Native App Devolopment Company</h2>
                <p class="five-lines">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo debitis libero soluta
                    eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo
                    debitis
                    libero soluta eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. <a href="{% url 'iosapp' %}" class=" ms-3 text-orange">Read More</a>
                </p>
            </div>
            <div class="col-lg-4 order-first order-lg-last">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/location-tracking-concept-illustration_114360-5174.jpg"
                    width="100%" alt="">
            </div>
        </div>
        <!-- Hybrid App -->
        <div class="row p-3 pb-lg-5">
            <div class="col-lg-4">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/mobile-testing-concept-illustration_114360-1564.jpg"
                    width="100%" alt="">
            </div>
            <div class="col-lg-8 my-auto">
                <h2 class="fw-bold">Hybrid App Devolopment Company</h2>
                <p class="five-lines">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo debitis libero soluta
                    eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo
                    debitis
                    libero soluta eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. <a href="{% url 'iosapp' %}" class=" ms-3 text-orange">Read More</a>
                </p>
            </div>

        </div>
        <!-- Xamin App -->
        <div class="row p-3 pb-lg-5">
            <div class="col-lg-8 my-auto">
                <h2 class="fw-bold">Xamin App Devolopment Company</h2>
                <p class="five-lines">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo debitis libero soluta
                    eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo
                    debitis
                    libero soluta eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae.<a href="{% url 'iosapp' %}" class=" ms-3 text-orange">Read More</a>
                </p>
            </div>
            <div class="col-lg-4 order-first order-lg-last">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/mobile-concept-illustration_114360-205.jpg"
                    width="100%" alt="">
            </div>
        </div>
        <!-- Koltin App -->
        <div class="row">
            <div class="col-lg-4">
                <img class="mb-4 mb-lg-0" src="https://image.freepik.com/free-vector/mobile-testing-concept-illustration_114360-1564.jpg"
                    width="100%" alt="">
            </div>
            <div class="col-lg-8 my-auto">
                <h2 class="fw-bold">Koltin App Devolopment Company</h2>
                <p class="five-lines">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo debitis libero soluta
                    eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, illo
                    debitis
                    libero soluta eveniet
                    nobis sunt porro commodi, at eaque error molestias omnis consequuntur nihil recusandae quasi
                    provident,
                    dolorum repudiandae.<a href="{% url 'iosapp' %}" class=" ms-3 text-orange">Read More</a>
                </p>
            </div>

        </div>
    </div>
</div>

<div id="faq-section">
    <section class="faq-section">
        <div class="container-fluid">
            <div class="row p-lg-5 px-3 my-4">
                <h2 class="fw-bold text-center mb-3">FAQ</h2>
                <div class="col-md-6 px-0">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-1"
                                        role="button" aria-expanded="true" aria-controls="faqCollapse-1">
                                        <span class="badge">1</span>What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                        an
                                        unknown printer took a galley of type and scrambled it to make a type
                                        specimen
                                        book. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-2"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-2">
                                        <span class="badge">2</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                        roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000
                                        years
                                        old.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-3"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-3">
                                        <span class="badge">3</span>Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum
                                        is
                                        that it has a more-or-less normal distribution of letters, as opposed to
                                        using
                                        'Content here, content here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-4"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-4">
                                        <span class="badge">4</span> Where can I get some?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority
                                        have suffered alteration in some form, by injected humour, or randomised
                                        words
                                        which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-5"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-5">
                                        <span class="badge">5</span> What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p> It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-6">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-6"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-6">
                                        <span class="badge">6</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                        for
                                        those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                                        Malorum" by Cicero are also reproduced in their exact original form,
                                        accompanied
                                        by English versions from the 1914 translation by H. Rackham.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-7">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-7"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-7">
                                        <span class="badge">7</span> Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                        their default model text, and a search for 'lorem ipsum' will uncover many
                                        web
                                        sites still in their infancy. Various versions have evolved over the years,
                                        sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-8"
                                        role="button" aria-expanded="true" aria-controls="faqCollapse-8">
                                        <span class="badge">1</span>What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                        an
                                        unknown printer took a galley of type and scrambled it to make a type
                                        specimen
                                        book. </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-9"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-9">
                                        <span class="badge">2</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                        roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000
                                        years
                                        old.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-10"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-10">
                                        <span class="badge">3</span>Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-10" class="collapse" aria-labelledby="faqHeading-3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum
                                        is
                                        that it has a more-or-less normal distribution of letters, as opposed to
                                        using
                                        'Content here, content here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-11"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-11">
                                        <span class="badge">4</span> Where can I get some?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-11" class="collapse" aria-labelledby="faqHeading-4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the
                                        majority
                                        have suffered alteration in some form, by injected humour, or randomised
                                        words
                                        which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-12"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-12">
                                        <span class="badge">5</span> What is Lorem Ipsum?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-12" class="collapse" aria-labelledby="faqHeading-5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p> It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s
                                        with the release of Letraset sheets containing</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-6">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-13"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-13">
                                        <span class="badge">6</span> Where does it come from?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-13" class="collapse" aria-labelledby="faqHeading-6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                                        for
                                        those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                                        Malorum" by Cicero are also reproduced in their exact original form,
                                        accompanied
                                        by English versions from the 1914 translation by H. Rackham.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-7">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-bs-toggle="collapse" href="#faqCollapse-14"
                                        role="button" aria-expanded="false" aria-controls="faqCollapse-14">
                                        <span class="badge">7</span> Why do we use it?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-14" class="collapse" aria-labelledby="faqHeading-7"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                        their default model text, and a search for 'lorem ipsum' will uncover many
                                        web
                                        sites still in their infancy. Various versions have evolved over the years,
                                        sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock main %}

{% block script %}
<script>
   
    $(document).ready(function(){
        $('.homenav').addClass('active')
        $('.homenav').attr('aria-current', 'page')
        $('.slider').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });


</script>
{% endblock script %}
